[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
torch = "*"
torchvision = "*"
pandas = "*"
skimage = "*"
scikit-image = "*"

[requires]
python_version = "3.6"
